@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Email: <a href="mailto:iulian@quadnet.ro?Subject=Hi!" target="_top"">iulian@quadnet.ro</a>
</address>

