<div class="col-sm-3 sidenav">
  <div class="sidenav_header">SEARCH FOR BOOKS</div>
  <form method="get" class="search_form" action="/">
    <input type="search" class="search_input" placeholder="Search…" value="" name="s" id="s" title="Cauta:">
    <button type="submit" value="Cauta" class="glyphicon glyphicon-search"></button>
  </form>
  <div class="sidenav_header">DASHBOARD</div>
  <ul class="sidebar_admin">
    <li><a href="/Admin/DashBoard"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Books</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Authors</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>Publishings</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>Categories</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>Return book</a></li>
    <li><a href="#"><span class="glyphicon glyphicon-book" style="color:red" aria-hidden="true"></span>Overdue Books</a></li>
  </ul>
</div>
