@model OnlineLibrary.Models.BookViewModel
  <div class="col-sm-9 text-left">
    <h1 class="title">Your Loans</h1>
      You loaned: <strong>@Model.Title</strong><br />
      Written by: <strong>@Model.Author</strong><br />
    @if (Model.AvailabilityDate != "")
    {
      DateTime dt = DateTime.ParseExact(Model.AvailabilityDate, "dd-MM-yyyy", null).AddDays(10);
      string availDate = dt.ToString("dd-MM-yyyy");
      <div>Don't forget to return it on: <strong>@availDate</strong></div>
    }

    <br />
    <br />
    @Html.ActionLink("Go back","Index","Home", null, new {@class= "btn btn-primary" })
    </div>

